#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define SWITCH 1

/ {
    behaviors {
        ts: tog_sl {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "hold-preferred";
            tapping-term-ms = <200>;
            bindings = <&tog>, <&sl>;
            display-name = "tog-sl";
        };
        
        skkp: sk_kp {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "hold-preferred";
            tapping-term-ms = <200>;
            bindings = <&sk>, <&kp>;
            display-name = "sk-kp";
        };
        
        kpsk: kp_sk {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "hold-preferred";
            tapping-term-ms = <200>;
            bindings = <&kp>, <&sk>;
            display-name = "kp-sk";
        };
        
        zmkkp: zmk_kp {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            bindings = <&studio_unlock>, <&kp>;
            display-name = "zmk-kp";
        };
        
        btsk: bt_sk {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            bindings = <&bt>, <&sk>;
            display-name = "btc-sk";
        };
    };
    
    combos {
        compatible = "zmk,combos";
        
        combo_34 {
            timeout-ms = <100>; // 100 ms to press all keys
            bindings = <&mt HOME N>; // output of the combo
            layers = <0>; //layers where the combo can be activated
            key-positions = <3 4>; // keys used in combo trigger
        };
        
        combo_23 {
            timeout-ms = <100>;
            key-positions = <2 3>;
            layers = <0>;
            bindings = <&mt PG_UP T>;
        };
        
        combo_12 {
            timeout-ms = <100>;
            key-positions = <1 2>;
            layers = <0>;
            bindings = <&mt END L>;
        };
        
        combo_01 {
            timeout-ms = <100>;
            key-positions = <0 1>;
            layers = <0>;
            bindings = <&mt LS(N9) S>;
        };
        
        combo_24 {
            timeout-ms = <100>;
            key-positions = <2 4>;
            layers = <0>;
            bindings = <&mt LS(DOT) D>;
        };
        
        combo_13 {
            timeout-ms = <100>;
            key-positions = <1 3>;
            layers = <0>;
            bindings = <&mt LS(COMMA) M>;
        };
        
        combo_02 {
            timeout-ms = <100>;
            key-positions = <0 2>;
            layers = <0>;
            bindings = <&mt LS(N8) Z>;
        };
        
        combo_14 {
            timeout-ms = <100>;
            key-positions = <1 4>;
            layers = <0>;
            bindings = <&mt PG_DN K>;
        };
        
        combo_03 {
            timeout-ms = <100>;
            key-positions = <0 3>;
            layers = <0>;
            bindings = <&mt LS(N7) B>;
        };
        
        combo_04 {
            timeout-ms = <100>;
            key-positions = <0 4>;
            layers = <0>;
            bindings = <&mt LS(N6) Y>;
        };
        
        combo_024 {
            timeout-ms = <100>;
            key-positions = <0 2 4>;
            layers = <0>;
            bindings = <&mt LS(GRAVE) W>;
        };
        
        combo_0123 {
            timeout-ms = <100>;
            key-positions = <0 1 2 3>;
            layers = <0>;
            bindings = <&mt LS(N0) H>;
        };
        
        combo_0124 {
            timeout-ms = <100>;
            key-positions = <0 1 2 4>;
            layers = <0>;
            bindings = <&mt LS(SEMI) C>;
        };
        
        combo_0134 {
            timeout-ms = <100>;
            key-positions = <0 1 3 4>;
            layers = <0>;
            bindings = <&mt LS(EQUAL) V>;
        };
        
        combo_0234 {
            timeout-ms = <100>;
            key-positions = <0 2 3 4>;
            layers = <0>;
            bindings = <&mt LS(RBKT) J>;
        };
        
        combo_1234 {
            timeout-ms = <100>;
            key-positions = <1 2 3 4>;
            layers = <0>;
            bindings = <&mt LS(LBKT) R>;
        };
        
        combo_124 {
            timeout-ms = <100>;
            key-positions = <1 2 4>;
            layers = <0>;
            bindings = <&mt LS(BSLH) G>;
        };
        
        combo_013 {
            timeout-ms = <100>;
            key-positions = <0 1 3>;
            layers = <0>;
            bindings = <&mt LS(MINUS) X>;
        };
        
        combo_134 {
            timeout-ms = <100>;
            key-positions = <1 3 4>;
            layers = <0>;
            bindings = <&mt LS(SLASH) F>;
        };
        
        combo_023 {
            timeout-ms = <100>;
            key-positions = <0 2 3>;
            layers = <0>;
            bindings = <&mt LS(SQT) Q>;
        };
        
        combo_014 {
            timeout-ms = <100>;
            key-positions = <0 1 4>;
            layers = <0>;
            bindings = <&skkp LGUI ENTER>; //sk kp 
        };
        
        combo_034 {
            timeout-ms = <100>;
            key-positions = <0 3 4>;
            layers = <0>;
            bindings = <&mt F5 P>;
        };
        
        combo_234 {
            timeout-ms = <100>;
            key-positions = <2 3 4>;
            layers = <0>;
            bindings = <&kpsk CAPS LSHIFT >; //requires custom behavior
        };
        
        combo_123 {
            timeout-ms = <100>;
            key-positions = <1 2 3>;
            layers = <0>;
            bindings = <&mt F11 BACKSPACE>;
        };
        
        combo_012 {
            timeout-ms = <100>;
            key-positions = <0 1 2>;
            layers = <0>; //this needs to be active on both layers
            bindings = <&ts SWITCH SWITCH >;
        };
        
        combo_01234 {
            timeout-ms = <100>;
            key-positions = <0 1 2 3 4>;
            layers = <0>;
            bindings = <&mt LS(TAB) SPACE>;
        };
        
        combo_2_34 {
            timeout-ms = <100>; 
            bindings = <&kp LEFT>; 
            layers = <1>;
            key-positions = <3 4>; 
        };
        
        combo_2_23 {
            timeout-ms = <100>;
            key-positions = <2 3>;
            layers = <1>;
            bindings = <&kp UP>;
        };
        
        combo_2_12 {
            timeout-ms = <100>;
            key-positions = <1 2>;
            layers = <1>;
            bindings = <&kp RIGHT>;
        };
        
        combo_2_01 {
            timeout-ms = <100>;
            key-positions = <0 1>;
            layers = <1>;
            bindings = <&kp N9>;
        };
        
        combo_2_24 {
            timeout-ms = <100>;
            key-positions = <2 4>;
            layers = <1>;
            bindings = <&kp DOT>;
        };
        
        combo_2_13 {
            timeout-ms = <100>;
            key-positions = <1 3>;
            layers = <1>;
            bindings = <&kp COMMA>;
        };
        
        combo_2_02 {
            timeout-ms = <100>;
            key-positions = <0 2>;
            layers = <1>;
            bindings = <&kp N8>;
        };
        
        combo_2_14 {
            timeout-ms = <100>;
            key-positions = <1 4>;
            layers = <1>;
            bindings = <&kp DOWN>;
        };
        
        combo_2_03 {
            timeout-ms = <100>;
            key-positions = <0 3>;
            layers = <1>;
            bindings = <&kp N7>;
        };
        
        combo_2_04 {
            timeout-ms = <100>;
            key-positions = <0 4>;
            layers = <1>;
            bindings = <&kp N6>;
        };
        
        combo_2_024 {
            timeout-ms = <100>;
            key-positions = <0 2 4>;
            layers = <1>;
            bindings = <&kp GRAVE>;
        };
        
        combo_2_0123 {
            timeout-ms = <100>;
            key-positions = <0 1 2 3>;
            layers = <1>;
            bindings = <&kp N0>;
        };
        
        combo_2_0124 {
            timeout-ms = <100>;
            key-positions = <0 1 2 4>;
            layers = <1>;
            bindings = <&kp SEMI>;
        };
        
        combo_2_0134 {
            timeout-ms = <100>;
            key-positions = <0 1 3 4>;
            layers = <1>;
            bindings = <&kp EQUAL>;
        };
        
        combo_2_0234 {
            timeout-ms = <100>;
            key-positions = <0 2 3 4>;
            layers = <1>;
            bindings = <&kp RBKT>;
        };
        
        combo_2_1234 {
            timeout-ms = <100>;
            key-positions = <1 2 3 4>;
            layers = <1>;
            bindings = <&kp LBKT>;
        };
        
        combo_2_124 {
            timeout-ms = <100>;
            key-positions = <1 2 4>;
            layers = <1>;
            bindings = <&kp BSLH>;
        };
        
        combo_2_013 {
            timeout-ms = <100>;
            key-positions = <0 1 3>;
            layers = <1>;
            bindings = <&kp MINUS>;
        };
        
        combo_2_134 {
            timeout-ms = <100>;
            key-positions = <1 3 4>;
            layers = <1>;
            bindings = <&kp SLASH>;
        };
        
        combo_2_023 {
            timeout-ms = <100>;
            key-positions = <0 2 3>;
            layers = <1>;
            bindings = <&kp SQT>;
        };
        
        combo_2_014 {
            timeout-ms = <100>;
            key-positions = <0 1 4>;
            layers = <1>;
            bindings = <&sk LCTRL>;
        };
        
        combo_2_034 {
            timeout-ms = <100>;
            key-positions = <0 3 4>;
            layers = <1>;
            bindings = <&zmkkp A ESC>; //TODO add zmk_unlock for hold behavior
        };
        
        combo_2_234 {
            timeout-ms = <100>;
            key-positions = <2 3 4>;
            layers = <1>;
            bindings = <&btsk BT_CLR_ALL LALT >; //TODO add bt_clear for hold behavior
        };
        
        combo_2_123 {
            timeout-ms = <100>;
            key-positions = <1 2 3>;
            layers = <1>;
            bindings = <&kp DEL>;
        };
        
        combo_2_012 {
            timeout-ms = <100>;
            key-positions = <0 1 2>;
            layers = <1>; //this needs to be active on both layers
            bindings = <&tog SWITCH >;
        };
        
        combo_2_01234 {
            timeout-ms = <100>;
            key-positions = <0 1 2 3 4>;
            layers = <1>;
            bindings = <&kp TAB>;
        };
        
    };

    keymap {
        compatible = "zmk,keymap";

        base_layer {
            display-name = "Base";
            bindings = < &mt LS(N5) U    &mt LS(N4) O    &mt LS(N3) I    &mt LS(N2) E   &mt LS(N1) A >;
        };
        
        switch_layer {
            display-name = "Switch";
            bindings = < &kp N5    &kp N4    &kp N3    &kp N2    &kp N1 >;
        };
    };
 };
