if SHIELD_SPLITFISH_LEFT

# Name must be less than 16 characters long!
config ZMK_KEYBOARD_NAME
    default "splitFish"

#currently central is the left side
config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_SPLITFISH_LEFT || SHIELD_SPLITFISH_RIGHT

config ZMK_SPLIT
    default y
    
endif
	
