if SHIELD_STEN03XD_LEFT

config ZMK_KEYBOARD_NAME
    default "sten03xD"

#currently central is the left side
config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_STEN03XD_LEFT || SHIELD_STEN03XD_RIGHT

config ZMK_SPLIT
    default y
    
#sleep settings
#Idle
config ZMK_IDLE_TIMEOUT
    default 20000

endif
	
